body {
  /*font-family: Arial, sans-serif;*/
  background-color: rgb(218, 191, 219);
  margin: 20px; /* keeps it on left side */
}

/* OUTER CARD RECTANGLE */
.card {
  border: 0px solid #bfbaba;
  padding: 15px;
  background-color: #f3f2f2;
  width: 400px;
}

/* HEADER BAR */
.header {
  background-color: #c4c4c4;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 10px;
}
.header h1 {
  margin: 0;
  font-size: 25px;
  text-align: center;
}

/* IMAGE */
.image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

/* DETAILS */
.info {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: gray;
}
